body {
    background-color: black;
    background-image: url(/src/resized-pics/9-min.jpg);
    background-position: 0px 200px;
    background-size: cover;
    background-repeat: no-repeat;
}


@media (min-width:560px) {
    body {
        background-image: url(/src/resized-pics/9-min.jpg);
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;

    }
}