body {
    background-color: $primary-color;
    background-image: url(/src/resized-pics/9-min.jpg);
    background-position: -60px 580px;
    background-size: 120%;
    background-repeat: no-repeat;
}

@media (min-width:908px) and (max-width:1463px) {
    body {


        background-position: -170px 400px;
        background-size: 120%;
    }
}

@media (min-width:1464px) {
    body {
        background-image: url(/src/resized-pics/9-min.jpg);
        background-position: 0px 200px;
        background-size: cover;
        background-repeat: no-repeat;

    }
}